# Existing dependencies
azure-identity
azure-ai-evaluation
openai
Flask[async]==3.0.3
azure-search-documents==11.7.0b2
azure-storage-blob==12.17.0
python-dotenv==1.0.0
dotenv
azure-cosmos==4.5.0
quart==0.19.9
uvicorn==0.24.0
aiohttp
gunicorn==20.1.0
pydantic-settings==2.2.1
pydantic
requests
azure-core
python-multipart
pdfminer.six
PyMuPDF
tiktoken
six
azure-ai-projects==2.0.0b1
azure-mgmt-cognitiveservices
