.history-page {
  background-color: #f2f2f2;
}

/* .citation-modal .modal-dialog {
  position: fixed !important;
  right: 0 !important;
  margin: 0 !important;
  width: 1000px;
  height: 100% !important;
} */